* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {

    background-color: hsl(30, 18%, 87%);
    min-height: 200vh;
    font-size: 16px;

    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;

}

img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
}
h3 {
    color: hsl(332, 51%, 32%);
}

.description {
    margin-bottom: 20px;
}


.prep {
    padding: 20px;
    margin-bottom: 20px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;

}

ol , ul {
    padding-left: 5px;
    line-height: 1.8;
}
ul {
    list-style: inside;
    list-style-type: square; 
}

ol {
    list-style: outside;
    list-style-type: decimal;
    list-style-position: outside;
}

ol li {

}

.Ingredients {

    margin-bottom: 30px;
}

.Instructions {
    margin: 20px 0px;
}


