
body {
    background-color: hsl(221, 100%, 96%);
    justify-content: center;
    align-items: center;
   
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}



.container {
    width: 100%;
    max-width: 375px;
    /* margin: 200px auto; */
    background-color: white;
    border-radius: 20px ;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;


}
.results {
    background-color: hsl(252, 100%, 67%);
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;

}
.results .display {
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    width: 50px;
    height: 50px;
    
}
.summary {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;

}
.summary .p {
    text-align: center;
}
.summary .head {
    
}

@media (min-width: 1000px) {
  .container {
    max-width:700px; 
    /* padding: 40px; */
  }
}