body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 100%;
  max-width: 375px;   /* Mobile design width */
  padding: 24px;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.name {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0 5px;
}

.location {
  color: hsl(75, 94%, 57%);
  margin-bottom: 20px;
}

.description {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Links */
.websites a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  margin-top: 15px;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: white;
}

.websites a:hover {
  background-color: hsl(0, 0%, 25%);
}


@media (min-width: 1440px) {
  .container {
    max-width: 420px; /* visually nicer on large screens */
    padding: 40px;
  }
}