* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("images/bg-desktop.svg");  
    background-color: hsl(257, 40%, 49%);
    padding: 40px 60px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;  
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin-bottom: 60px;
}

.header img {
    width: 200px;  
}

.middle {
    width: 100%;
    height: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 40px;
}

.middle > img {  
    width: 55%;  
    height: auto;
}

.right {
    margin-top: 0;  
    margin-left: 50px;
    color: white;
    line-height: 1.5;
    width: 40%;  
}

.right .head {
    font-size: 2.5rem;
    font-weight: 600;  
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;  
}

.right .description {
    font-size: 1rem;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.right .register {
    display: inline-block;
    color: hsl(257, 40%, 49%);  
    background-color: white;
    margin: 20px 0; 
    padding: 15px 60px;  
    text-align: center;
    font-size: 1.1rem;  
    border: none;  
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);  
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
    text-decoration: none; 
    cursor: pointer;
}

.right .register:hover {
    color: white;
    background-color: hsl(300, 69%, 71%); 
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;  
    margin-right: 0; 
}

.icons img {
    width: 40px;  
    height: 40px;
    padding: 8px; 
    margin: 0 10px;  
    object-fit: contain;  
    border: 1px solid white;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    transition: all 0.3s ease;
}

.icons img:hover {
    border-color: hsl(300, 69%, 71%);
    filter: brightness(0) invert(0.8); 
}


@media (max-width: 768px)  
{
    body {
        background-image: url('images/bg-mobile.svg');
        background-size: contain; 
        padding: 30px; 
        text-align: center;
    }
    
    .header {
        margin-bottom: 40px;
        text-align: left;  
    }
    
    .header img {
        width: 150px; 
    }
    
    .middle {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .middle > img {
        width: 100%; 
        margin-bottom: 40px;
    }
    
    .right {
        width: 100%;  
        margin-left: 0;
    }
    
    .right .head {
        font-size: 1.8rem;  
        line-height: 1.3;
    }
    
    .right .description {
        font-size: 1rem;
        padding: 0 10px;
    }
    
    .right .register {
        padding: 12px 50px;
        font-size: 1rem;
        margin-bottom: 40px;
    }
    
    .icons {
        justify-content: center;  
        margin-top: 20px;
    }
}